
:root {
  --bg: #282c34;
  --header: #fff;
  --link: #b2deeb;
  --text: hsla(0, 0%, 100%, 0.88);
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); 
  font-family: 'Slabo 13px', serif;
  margin: 0; 
  padding: 0; 
}

.kindred-brand {
  font-family: 'Slabo 13px', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kindred-title {
  font-size: 5rem;
  color: #1a1919; /* Background color for Kindred */
}

.kindred-subtitle {
  font-size: 1rem;
  color: rgb(34, 33, 33); /* Text color for Welcome to Kindred! */
}
.custom-navbar {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.custom-navbar .navbar-toggler-icon {
  background-color: #6fb07f; /* Adjust the color for the mobile menu icon */
}

.home-container {
  text-align: center;
}

.posts-container {
  display: flex;
  justify-content: space-between;
}

.artwork-posts,
.discussion-posts {
  width: 45%; /* Adjust the width as needed */
  text-align: left;
}
/* Home.css */
.home-container {
  max-width: 800px;
  margin: 0 auto;
}
.new-artists-cards {
  margin-top: 20px;
}

.artist-cards {
  display: flex;
  gap: 20px;
}

.artist-card img {
  max-width: 100px;
  border-radius: 50%;
}

.artwork-discussion-lists {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.artwork-discussion-list {
  flex: 1;
}

.artwork-discussion-list h2 {
  margin-bottom: 10px;
}

.artwork-discussion-list ul {
  list-style-type: none;
  padding: 0;
}

.artwork-discussion-list li {
  margin-bottom: 8px;
}
.custom-button {
    border-radius: 20px; 
    padding: 10px 15px;
    background-color: #8594e4;  
    color: white;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #6643b5; 
    
}
.custom-nav {
  display: flex; 
  justify-content: space-evenly; 
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.upload-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Adjust height as needed */
  gap: 20px; /* Space between form elements */
}

.upload-form {
  width: 100%;
  max-width: 500px; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc; /* Optional */
  border-radius: 10px; /* Optional */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
}


