.artwork-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-width: 200;
  margin-bottom: 20px; /* space between cards */
  background: rgba(197, 192, 239, 0.936);
  position: relative;
  font-size: 1rem; /* Adjust font size as needed */
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  box-shadow: 5px 5px 10px rgba(104, 68, 224, 0.2);
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
}

.artwork-card:nth-child(3n+1) {
  border: solid 5px  rgb(212, 152, 238);
}

.artwork-card:nth-child(3n+2) {
  border: dotted 5px rgb(70, 138, 235);
}

.artwork-card:nth-child(3n+3) {
  border: dashed 5px rgb(151, 136, 236);
}

.artwork-image {
  max-width: 100%;
  max-height: 600px; 
  object-fit: cover;
  margin-bottom: 10px; 
  border-radius: 20px; 
}

.artwork-username {
  position: center;
  top: 10px;
  left: 10px;
  background-color: rgba(199, 243, 179, 0.895);
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9em;
}

.details {
  text-align: center;
}

.artwork-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
}

.artwork-username {
  color: rgb(0, 94, 255); 
  font-size: 1.2em;
}
