.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.artwork-cards, .discussion-cards {
  width: 50%; /* Half the width of the container */
  height: 600px;
  overflow-y: auto; /* Enables scrolling */
}
.artist-cards .artwork-card {
  max-width: 350px; /* Increase the max width */
  min-width: 250px; /* Increase the min width */
  font-size: 1rem; /* Adjust the font size as needed */
  align-items: center;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .artwork-cards, .discussion-cards {
    width: 100%; /* Full width on smaller screens */
  }
}

