.post-card-container {
  width: 100%;
  max-width: 400px; /* Adjust width as needed */
  margin: 20px auto; /* Center card on page with margin */
  background: rgb(161, 197, 238);
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
  box-shadow: 5px 5px 10px rgba(183, 40, 227, 0.2);
  border: 3px solid rgb(212, 152, 238);
  overflow-y: auto;
  position: relative; /* Ensures child absolute positioning is relative to this container */
}

.post-username {
  position: center; /* Positioning relative to the card */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2em;
  color: hsla(0, 0%, 30%, 1);
}

.post-details {
  padding: 20px;
  text-align: center;
}

/* Additional styles for textbox and comments */
.comment-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.comment-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #45a049;
}